* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: "Roboto Serif", serif;
    color: rgb(31, 74, 20);
}

a{
    color: rgb(80, 151, 98);
    text-decoration: none;
}

.row{
    max-width: 1180px;
    margin: 0 auto;
}


header {
    height: 100vh;
    background-image: url('images/achtergrond.png');
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    gap: 3.75rem;
}